<header class="p-3 mb-2 text-bg-dark">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none me-3"
        ><h2>Students Portal</h2>
      </a>
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="{% url "home" %}" class="nav-link px-2 text-white">Home</a></li>
        <li>
          <a href="{% url "courseList" %}" class="nav-link px-2 text-white">All Courses</a>
        </li>
        {% if user.is_authenticated and user.is_student %}
        <li>
          <a href="{% url "myEnrollments" %}" class="nav-link px-2 text-white">My Enrollments</a>
        </li>
   
        <li><a href="{% url "graduation" %}" class="nav-link px-2 text-white">Graduation</a></li>
        {% endif %}
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="/searchCourse" method="get">
        <input
          type="search"
          class="form-control form-control-dark text-bg-white"
          placeholder="Find Course"
          aria-label="Search"
          name="query"
        />
      </form>

      <div class="text-end">
        {% if not user.is_authenticated %}
        <button
          type="button"
          class="btn btn-outline-light me-2"
          data-bs-toggle="modal"
          data-bs-target="#loginModal"
        >
          Login
        </button>
        <button
          type="button"
          class="btn btn-warning"
          data-bs-toggle="modal"
          data-bs-target="#signupModal"
        >
          Sign-up
        </button>
        {% else %}
        <a
        href="{% url "userProfile" %}"
        type="button"
        class="btn btn-outline-light me-2"
        
      >
        Dashboard
      </a>
      <button
        type="button"
        class="btn btn-warning"
        data-bs-toggle="modal"
        data-bs-target="#logoutModal"
      >
        Logout
      </button>
        {% endif %}
      </div>
    </div>
  </div>
</header>
